absl-py @ file:///C:/ci/absl-py_1623867344508/work
argon2-cffi @ file:///C:/ci/argon2-cffi_1613037829118/work
asgiref==3.4.1
astor==0.8.1
async-generator==1.10
attrs @ file:///tmp/build/80754af9/attrs_1620827162558/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
bleach @ file:///tmp/build/80754af9/bleach_1612211392645/work
bs4==0.0.1
census==0.8.17
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1613247269562/work
chardet==4.0.0
citipy==0.0.5
click @ file:///tmp/build/80754af9/click_1621604852318/work
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
configparser==5.0.2
coverage @ file:///C:/ci/coverage_1614614921360/work
crayons==0.4.0
cycler==0.10.0
Cython @ file:///C:/ci/cython_1626257069493/work
DateTime==4.3
decorator @ file:///tmp/build/80754af9/decorator_1621259047763/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dj-database-url==0.5.0
Django==3.2.6
django-heroku==0.3.1
django-utils==0.0.2
entrypoints==0.3
findspark==1.4.2
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-PyMongo==2.3.0
gast @ file:///tmp/build/80754af9/gast_1627451907953/work
geojson==2.5.0
gmaps==0.9.0
greenlet @ file:///C:/ci/greenlet_1620913810000/work
grpcio @ file:///C:/ci/grpcio_1614884461394/work
gunicorn==20.1.0
h5py==2.10.0
idna==2.10
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877476772/work
ipykernel @ file:///C:/ci/ipykernel_1596206775157/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593446240034/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==7.6.3
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jedi==0.17.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1621238361758/work
joblib==1.0.1
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions @ file:///home/conda/feedstock_root/build_artifacts/jupyter_contrib_nbextensions_1614931162960/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213536848/work
jupyter-highlight-selected-word @ file:///D:/bld/jupyter_highlight_selected_word_1611341191613/work
jupyter-latex-envs @ file:///home/conda/feedstock_root/build_artifacts/jupyter_latex_envs_1614852190293/work
jupyter-nbextensions-configurator @ file:///D:/bld/jupyter_nbextensions_configurator_1611341301921/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets==1.0.0
kdtree==0.16
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing @ file:///tmp/build/80754af9/keras-preprocessing_1612283640596/work
kiwisolver==1.2.0
leaflet==0.0.3
lxml @ file:///C:/ci/lxml_1616443258060/work
Markdown @ file:///C:/ci/markdown_1614364003005/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528313524/work
matplotlib @ file:///C:/ci/matplotlib-base_1592846129657/work
mistune==0.8.4
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mrjob==0.7.4
nb-conda-kernels @ file:///C:/ci/nb_conda_kernels_1606758020244/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1601896775581/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///C:/ci/notebook_1621528813829/work
numpy==1.18.5
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
pandas @ file:///C:/ci/pandas_1602088210462/work
pandocfilters @ file:///C:/ci/pandocfilters_1605120535071/work
parso @ file:///tmp/build/80754af9/parso_1617223946239/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1618088486455/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
protobuf==3.17.2
psycopg2==2.9.1
psycopg2-binary==2.8.6
py==1.10.0
py4j==0.10.9
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments @ file:///tmp/build/80754af9/pygments_1621606182707/work
pymongo==3.11.4
pyparsing==2.4.7
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141799440/work
pyshark==0.4.3
pyspark==3.1.2
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy @ file:///C:/ci/scipy_1592930618155/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
six==1.15.0
sklearn==0.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
splinter==0.14.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1620712614295/work
sqlparse==0.4.1
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.9.4
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
threadpoolctl==2.2.0
tornado==6.0.4
traitlets==4.3.3
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
urllib3==1.26.4
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webdriver-manager==3.4.2
webencodings==0.5.1
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
whitenoise==5.3.0
widgetsnbextension==3.5.1
wincertstore==0.2
wrapt==1.12.1
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
zope.interface==5.4.0
